<div class="row mt-3">
  <div class="col-12">
    <h3>Who is bending the curve?</h3>
    <p>Case-load by days since first 100 cases.</p>
    <p>Data is in <code>since.csv</code></p>
    <div class="col-4">
      <p><button class="btn btn-cases-2 btn-metric">Cases</button>
      <button class="btn btn-deaths-2 btn-metric">Deaths</button></p>
    </div>
    <div id="chart-covid2">
    </div>
  </div>
  <div class="col-4">
    <p><button class="btn btn-linear-2 btn-scale">Linear</button>
    <button class="btn btn-log-2 btn-scale">Logarithmic</button></p>
  </div>
</div>