<div class="row mt-3">
  <div class="col-12">
    <h3>Recovered/ Active Cases</h3>
    <p>Small multiples by country.</p>
    <p><strong style="color:red;">Red</strong> is active.</p>
    <p><strong style="color:cyan;">Blue</strong> is recovered.</p>
    <p>The areas are stacked on top of each other.</p>
    <p>Data is in <code>all.csv</code></p>
    <div id="chart-covid3">
    </div>
  </div>
</div>