<div class="row mt-3">
  <div class="col-12">
    <h3>Change in daily confirmed cases.</h3>
    <p>Using a rolling 7-day average.</p>
    <p>New daily cases are low and flat in Georgia, Kyrgyzstan, and (so far) Uzbekistan. Armenia and Azerbaijan are still increasing; Tajikistan and Kazakhstan are ostensibly declining.</p>
    <p>Data is in <code>since.csv</code></p>
    <div id="chart-covid4">
    </div>
  </div>
</div>