<div class="row mt-3">
  <div class="col-12">
    <h1>Testing lines</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="chart-line-test"></div>
      </div>
  </div>
</div>