<div class="row">
    <div class="col-12">
      <h1>COVID Charts for Central Asia and the Caucasus</h1>

      <p class="alert alert-warning">NB: This should be seen as a prototype, and design and functionality can evolve. Map and line charts not yet ready.</p>
    </div>
  </div>