<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body style="background-color: #1B608C; color: #C8E9FE">
<div class="container">
  <!-- {{> base/headline }}
  {{> partials/chart-01 }}
  {{> partials/chart-02 }}
  {{> partials/chart-03 }}
  {{> partials/chart-04 }}
  {{> partials/chart-05 }}
  {{> partials/chart-06 }}
  {{> partials/chart-07 }}
  {{> partials/chart-08 }}
  {{> partials/chart-nba }}
  {{> partials/chart-covid1 }}
  {{> partials/chart-covid2 }}
  {{> partials/chart-covid3 }}
  {{> partials/chart-covid4 }} -->
  {{> partials/chart-summ}}
  {{> partials/chart-rec-act}}
  
  
  <!-- <script src="scripts/chart-01.js"></script>
  <script src="scripts/chart-02.js"></script>
  <script src="scripts/chart-03.js"></script>
  <script src="scripts/chart-04.js"></script>
  <script src="scripts/chart-05.js"></script>
  <script src="scripts/chart-06.js"></script>
  <script src="scripts/chart-07.js"></script>
  <script src="scripts/chart-08.js"></script>
  <script src="scripts/chart-nba.js"></script>
  <script src="scripts/chart-covid1.js"></script>
  <script src="scripts/chart-covid2.js"></script>
  <script src="scripts/chart-covid3.js"></script>
  <script src="scripts/chart-covid4.js"></script> -->
  <script src="scripts/chart-summ.js"></script>
  <script src="scripts/chart-rec-act.js"></script>

</div>
</body>
</html>